.section{
    color: $primary;
    text-align: center;
    padding: 40px 80px;
    font-weight: 400;
    line-height: 1.8rem;
    font-size: 1.2rem;
}
.dark-container{
    background-color: $secundary;
    color: $alabaster;
}

footer{
    padding: 5px;
    text-align: center;
}